{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    <h1>Servislerdeki En Ucuz Kur Fiyatları</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Value</th>
            <th scope="col">ServiceName</th>
        </tr>
        </thead>
        <tbody>

        {% for exchangeRate in exChangeRates %}
            <tr>
                <th>{{ exchangeRate.name }}</th>
                <th>{{ exchangeRate.value }}</th>
                <th>{{ exchangeRate.service }}</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
